---
layout: default
title: Home
---

<div style="display: flex; align-items: center;">

  <div style="flex: 1; padding-right: 5px;">
  <img src="/public/profile_pic.jpeg"  width="250"  height="200" alt="Description of Image" style="max-width: 100%; height: auto; border-radius: 8px;">
  </div>
  
  <div style="flex: 2; padding-left: 5px;">
    <a href="www.zijinzhang.com">Zijin Zhang</a>, Ph.D. Candidate <br />

    Technology & Operations at Stephen M. Ross School of Business,<br />
    University of Michigan<br />
    Ann Arbor, Michigan, United States<br />


    <br />
    <b>Contact</b>
    <br />
    Address: R4431, 701 Tappan Street <br />
    Email: zijinz [at] umich [dot] edu  <br />

    Phone: 734-881-5066  <br />

    [<a href="https://www.linkedin.com/in/zijin-zhang-60550b206/">Linkedin</a>]
    [<a href="https://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=4233887">SSRN</a>]

  </div>
  
  </div>

  <br />
  I'm a final-year Ph.D. student at the University of Michigan, fortunate to be advised by Professor <a href="https://michiganross.umich.edu/faculty-research/faculty/hyun-soo-ahn">Hyun-Soo Ahn</a> and Professor <a href="https://baardman.github.io/">Lennart Baardman</a>. My research focuses on operational efficiency and strategic decision-making across various sectors including retail management, supply chain management, and non-profit operations. I am particularly interested in understanding how data can enhance algorithmic decision-making and provide valuable insights for policy design. Through my work, I aim to develop innovative solutions and theoretical insights that address complex challenges and improve overall service performance.
  <br />

  <br />
  Before joining Ross, I received my bachelor in Mathematics and Statistics from Nanjing University. I was an exchange student at the University of Wisconsin-Madison in 2017.
  



  <br />

  <br />

  <b>I am on the 2024-2025 academic job market.
  </b>


</div> 

<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div> -->

<!-- 
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %} -->