---
layout: default
title: Home
---

<div style="display: flex; align-items: center;">

  <div style="flex: 1; padding-right: 5px;">
  <img src="/public/feb2025.jpg"  width="250"  height="220" alt="Description of Image" style="max-width: 100%; height: auto; border-radius: 8px;">
  </div>
  
  <div style="flex: 2; padding-left: 5px;">
    <!-- Zijin Zhang, Ph.D. <br /> -->

    Boston College, Carroll School of Management <br />
    Chestnut Hill, MA, United States<br />


    <br />
    <b>Contact</b>
    <br />
    Office: Fulton Hall 454B, 140 Commonwealth Avenue <br />
    Email: zijin.zhang [at] bc [dot] edu  <br />
    Phone: 617-552-0547  <br />

    [<a href="https://scholar.google.com/citations?user=DXrs0PsAAAAJ&hl=en">Google Scholar</a>]
    [<a href="https://www.bc.edu/bc-web/schools/carroll-school/faculty-research/faculty-directory/zijin-zhang.html">Faculty Page</a>]
    [<a href="https://www.linkedin.com/in/zijin-zhang-60550b206/">Linkedin</a>]


  </div>
  
</div>

  <br />
  I am an Assistant Professor of Business Analytics at the <a href="https://www.bc.edu/bc-web/schools/carroll-school.html">Carroll School of Management</a>, Boston College. I received my Ph.D. in Technology & Operations from the <a href="https://michiganross.umich.edu">Stephen M. Ross School of Business</a> at the University of Michigan.
  
  <br />
  <br />


  My research interests are in <b>revenue management</b> and <b>public policy</b>, with a focus on improving data-driven decision-making in business (inventory management and pricing analytics) and societal operations (education and learning, government resource allocation, and AI regulation). 
  Methodologically, I develop stochastic models and machine learning algorithms that use optimization and statistics tools to address operational problems under uncertainty.
  
  <!-- <p style="margin-bottom: 0.35em;">
    My research focuses on data-driven decision making in operations management.
    Specifically, I am interested in how data can be strategically managed and applied to improve operational decisions, centered around three core dimensions of data value:
  </p>
  
  <ol style="list-style: none; padding-left: 1.5em; margin-top: 0em; margin-bottom: 0.35em;">
     <li> (1) <b>engineering value</b>: how to design data-driven algorithms that support real-time and large-scale decision making under uncertainty; </li>
     <li> (2) <b>economic value</b>: how to balance the cost of data acquisition with its decision impact via smart data selection and active learning; </li>
     <li> (3) <b>social value</b>: how data practices impact society, fairness, and well-being, particularly related to data ethics and technology regulation. </li>
  </ol>
  These problems are studied through real-world applications, including offline data use in retail decisions, data limitations in emerging AI markets, and resource disparities in public-sector operations.
  Methodologically, I employ tools from optimization, probability, game theory, and machine learning. -->



<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div> -->

<!-- 
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %} -->